.container {
    margin: 2em;
}

.about header {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.about header a {
    cursor: pointer;
    padding: 0.5em;
    background: white;
    border-radius: 2em;
    width: 4em;
    text-align: center;
    user-select: none;
}